<div class="container">
    <div class="col-md-4">
    <div class="card">
        <div class="card-body">
            
            <label for="fileupload">Upload any files here:</label>
            <input type="file" id=fileupload (change)= "handleImage($event.target.files)">
            <form [formGroup] = "resourceForm" (ngSubmit)="createResource()" >
            <hr>

            <textarea type="text" class="form-control" formControlName="message" rows = 4 cols = 37 placeholder="Type your resource here ...."></textarea>

            <hr>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        </div>
    </div>
</div>
</div>