<!-- <div class = "form-group">
    <label for="file">Choose File: </label>
    <input type="file"
            id ="file"
            (change)="handleFile($event.target.files)">
    <button (click) = "uploadFile()">Upload</button>
</div>
<div>
    <button (click)="viewFile()">View File</button>
</div> -->

<div class="container">
    <form class="text-center border border-light p-5" [formGroup] = "YearUpProfileForm" (ngSubmit)="createYearUp()">

        <p class="h4 mb-4">Create Your YearUp Profile!</p>
  
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" formControlName = "firstName">
          </div>
          <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" formControlName = "lastName">
          </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
              <!-- Nickname -->
              <input type="text" id="defaultRegisterFormNickName" class="form-control" placeholder="(Optional) Nickname" formControlName = "nickName">
            </div>
            <div class="col">
              <!-- bio -->
              <!-- <input type="text" id="defaultRegisterFormBio" class="form-control" placeholder="About you" formControlName = "bio"> -->
            </div>
          </div>

          <!-- <label for="file">Choose File: </label> <input type="file" id="file" (change)= "handleFile($event.toarget.files)" ><button (click) = "uploadFile()">Upload File</button> -->

        <input type="text" id="defaultRegisterFormBio" class="form-control" placeholder="About you" formControlName = "bio">
          
        <br>

        <!-- <label for="file">Upload Resume: <input class="form-control" type="file" id="file" (change)= "handleFile($event.toarget.files)"></label>
        
        <label for="file">Upload Picture: <input class="form-control" type="file" id="file" (change)= "handleFile($event.toarget.files)"  ></label>  -->
        <div class = "form-group">
          <!-- <label for="file">Choose File: </label>
          <input type="file"
                  id ="file"
                  (change)="handleFile($event.target.files)">
          <button (click) = "uploadFile()">Upload</button> -->

          <label for="file">Upload Resume: <input type="file" id="file" (change)= "handleFile($event.toarget.files)"></label>
        
        <!-- <label for="file">Upload Picture: <input class="form-control" type="file" id="imageRaw  " (change)= "handleImage($event.toarget.files)"  ></label>  -->
      </div>
        <hr>

         
              
        <!-- Newsletter -->
        <!-- <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
          </div>
        </div> -->
  
        <!-- Sign up button -->
        <button block="true" class="my-4" type="submit">Sign in</button>
  
        <!-- Social register
        <p>or sign up with:</p>
  
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="github"></mdb-icon>
        </a> -->
  
        <hr>
  
        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a></p>
  
      </form>
</div>